
.list-product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;



.card {
  border: 1px solid #ddd;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  p.price {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}
}