.customer-container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.customer-list {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-left: 190px;
  width: 100%;
}
.customer-list h1 {
  text-align: center;
}
.customer-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.customer-list table th, .customer-list table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.customer-list table .table-head {
  background-color: #f2f2f2;
}
.customer-list table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.customer-list table tr:hover {
  background-color: #e0e0e0;
}
.customer-list table button {
  padding: 6px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.customer-list table button:hover {
  background-color: #45a049;
}