/* Style.scss or your component's style file */

.checkout-button-container {
    text-align: center;
    margin-top: 20px; /* Adjust spacing as needed */
  }
  
  #checkout-button {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #checkout-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  