/* CreateCategoryForm.scss */
.create-category-form {
  z-index: 3;
  position: absolute;
  top: 32%;
  left: 35%;
  width: 40%;
  padding: 30px 50px;
  border-radius: 15px;
  background-color: #e1dada;
}
.create-category-form .title {
  display: flex;
  justify-content: space-between;
}
.create-category-form .title i {
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
.create-category-form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 15px;
  background-color: #fff;
  color: #333;
}
.create-category-form .category-image {
  position: relative;
}
.create-category-form .category-image input {
  margin-bottom: 0;
}
.create-category-form .category-image .image-preview {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.create-category-form .buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.create-category-form .buttons button {
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.3s;
}
.create-category-form .buttons button.submit {
  background-color: #4caf50;
}
.create-category-form .buttons button.submit:hover {
  background-color: #45a049;
}
.create-category-form .buttons button.cancel {
  background-color: #e74c3c;
}
.create-category-form .buttons button.cancel:hover {
  background-color: #c0392b;
}