/* UserProductDetails.css */
.user-product-details {
  padding: 30px 0;
}
.user-product-details .main-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}
.user-product-details .main-content .product-image {
  flex: 1;
}
.user-product-details .main-content .product-image .images {
  display: flex;
  gap: 10px;
}
.user-product-details .main-content .product-image .images img {
  width: 80px; /* Adjust image size as needed */
  height: auto;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: transform 0.3s;
}
.user-product-details .main-content .product-image .images img:hover {
  transform: scale(1.2);
}
.user-product-details .main-content .product-image .main-image {
  position: relative;
}
.user-product-details .main-content .product-image .main-image img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}
.user-product-details .main-content .product-image .main-image button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.user-product-details .main-content .product-image .main-image button:hover {
  background-color: #45a049;
}
.user-product-details .main-content .product-detail {
  flex: 1;
}
.user-product-details .main-content .product-detail h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}
.user-product-details .main-content .product-detail p {
  font-size: 18px;
  margin-bottom: 12px;
  color: #555;
}