.create-product-form {
  top: 100px;
  position: absolute;
  max-width: 400px;
  left: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #398484;
}
.create-product-form .title {
  text-align: center;
  margin-bottom: 20px;
}
.create-product-form .title h1 {
  font-size: 24px;
  color: #333;
}
.create-product-form .row {
  margin-bottom: 15px;
}
.create-product-form .row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}
.create-product-form .row input,
.create-product-form .row select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.create-product-form .row select {
  cursor: pointer;
}
.create-product-form .image-previews {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.create-product-form .image-previews .image-preview {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
.create-product-form .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.create-product-form .buttons .cancel-button,
.create-product-form .buttons .submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}
.create-product-form .buttons .cancel-button {
  background-color: #ccc;
}
.create-product-form .buttons .submit-button {
  background-color: #3498db;
}